<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manjari Jain | Blog</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
</head>
<body>

    <div class="toplayer">
            Struggle & Gratitude
            
    </div>

    <div class="article">
        
            <p>
                Hi, I am one of you. A live and breathing human being, entailing with eternal battles, at her doorsteps. These challenges comprise of internal peace, spiritual guidance, and outer influence. People often say that the struggles are necessary to become who you are now. 
                But I respectfully decline that. Why? Because, every triumph over adversity, plummets an emotional connection to the universe. 
                It diminishes the thought of civilization. As time goes by, we don’t become strong, we become inured. This desensitization of the soul jeopardizes the complete foundation of the difficulties. I agree some of the conflicts bring out the best but at what cost?
            </p>
            <p>
                During my sophomore year, many seniors told me that maintained a CGPA of 8.5 and practice coding simultaneously. Thus, this will be ensured to get placed in a good software company through on-campus.  
                Their advice was not unsound but it was not entirely absolute either.  Little did I know that most of the Leading Tech Corporations like Swiggy, Exxon Mobil, VMware, Nvidia etc., have the biased condition of being a CS/IT undergrad.  
                Is it because all the non-CS Students are incomprehensible? No, because it is a stereotype. It is a social abnormality. 
                Maybe, we are not accustomed to all the essential HOT topics of the IT/CSE but who is? No one and no one can say that.  
                While being denied the probability of having a very good start in a dream company, can aches anyone’s heart. It just not ends here also. 
                Even on passing the written exam and clearing the final HR interview, I was offered an inferior post. 
                As a result, I politely refused the offer because I can’t be buoyant in an environment where the branch tag is prioritized. 
            </p>
            <p>
                When our placement cell sent a mail that Bank of America is coming for recruitments. It was only eligible for the CSE Students at first. God knows what happened but it broadens its spectrum for the ECE/EEE students also. I applied for it with modicum hopes. I sat in the same lab, gave the same test but when the shortlists were announced, all ECE/EEE students were put under the production interview panel. Now I know why it opened its spots for ECE/EEE. Again, I made a promise with myself that I will not settle for less. I went inside the cabin with a strong heart. I informed her about my desires, my achievements, and my skills. She was smart enough to figure out the hints. She calmly stated that this job doesn’t involve software development. Then I politely requested, if it doesn’t involve SDE, then pass this job to someone else who will be more forthcoming. In the end, she rejected me by marking me overqualified. I went outside, inhaled the fresh air, and shed few tears on my way back to the hostel. Only one thing was going inside my mind, this is never going to happen to me. NEVER. As soon as I sat down, my phone started ringing. I saw an unknown number and picked it up. It was from my placement coordinator. He told me to come back fast. I was mortified because the call ended abruptly and the purpose was obscure. I freshened up my face and went back with the worst possible outcome in my head. He told me to sit down in the waiting area and left. When I inquired further, it was for the SDE profile. I was stunned. What were the chances of this happening?  I was indebted to my interviewer who forwarded my profile to the SDE panel. I cleared technical rounds one by one. On conclusion of it, I was one of the four people from ECE/EEE to get recruited for the SDE profile. 
            </p>
            <p>
                The journey of a non-tech student making his/her footprints in the world of Computer Science Enthusiasts is very excruciating but commendable!!
            </p>
            <p>
                I am obliged for the opportunities that appears when everything turns dark. Nevertheless, sometimes, my mind wanders back to the missed ones, phone calls not answered and the road not taken. 

            </p>
            <p>
                Maybe you will not understand it, maybe you will not relate to it and maybe you don’t have to. But if you do, then I want to assure you that you are not alone.
            </p>
        
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/blog.js"></script>
</body>
</html>