<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Bentham&family=Bellota:wght@700&family=Cabin+Sketch:wght@700&family=Courgette&&family=Libre+Baskerville:ital@1&family=Dancing+Script&family=Kaushan+Script&family=Marck+Script&family=Merienda+One&family=Parisienne&family=Rufina&family=Satisfy&family=VT323&family=Pacifico&family=Special+Elite&family=Cedarville+Cursive&family=Cinzel&family=Lobster&family=Slabo+27px&family=Srisakdi:wght@700&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manjari Jain | IPod</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <link rel="stylesheet" type="text/css" href="/css/videoviewer.css">
</head>
<body>
       <div class="container">

           <div class="container-title">
               I-Pod
           </div>

           <div class="video-container">
               <video src="videos/ipodReact.mp4" controls autoplay></video>
           </div>

           <a class="link-container" target="_blank" href="https://github.com/JainManjari/IPodReactJs">
               GitHub Link
           </a>

       </div>
   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>