
<div>

    <p>
        Hi HindFlora Girl,
    </p>
    <br>
    <p><q><%= user.message %></q></p>
    <br>
    <p>
        From,<br>
        <strong><%=user.name%><br>
        <%= user.email%></strong>
    </p>
    <br>
    <p>
        Affiliation with TheHindFlora :)
    </p>

</div>