
<div>

    <p>
        Hi <%= user.name%>,
    </p>
    <br>
    <p style="width: 55%;text-align: justify;height:auto;">I would like to personally thank you for taking out your time. Your thoughts are much appreciated. Your comments will be reflected. I hope this connection will remain zealous as it is now.</p>
    <br>
    <p>
         With best regards,<br>
         Manjari Jain,<br>
         <a href="http://www.thehindflora.com/">TheHindFlora</a>
    </p>
</div>